body {
    margin: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

.page__top-panel {
    width: 100%;
    height: 500px;
    background: center/cover no-repeat url('../images/BackgroundHeader.png');
}

.page__menu {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    padding: 0 250px;
}

.page__menu_footer {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(35, 47, 56, 0.6);
}

.menu__logo {
    font: 400 26px/26px "Lora";
}

.menu__navigation {
    display: flex;
    height: 40px;
}

.menu__navigation .navigation__item {
    color: #FFF;
}

.menu__navigation_footer .navigation__item {
    color: rgba(255, 255, 255, 0.6);
}

.navigation__item {
    font: 400 12px/20px "Oxygen";
    letter-spacing: .6px;
    text-decoration: 0;
    display: flex;
    padding: 10px 20px;
}

.page__footer-container {
    background: center/cover no-repeat url('../images/footerBackground.png');
    padding-top: 62px;
    display: flex;
    flex-direction: column;
}

.footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 250px 90px;
}

.footer__form-label {
    color: #EFEFEF;
    font: 400 25px/30px "Oxygen";
    letter-spacing: 2px;
    text-align: center;
    padding: 0 15px 17px;
    border-bottom: 1px #DEDEDE solid;
}

.form__input-container {
    display: flex;
}

.form__input-email {
    border: 0;
    width: 375px;
    padding: 18px 35px;
    font: 400 12px/14px "Roboto";
    color: #817F83;
    border-radius: 3px 0 0 3px;
}

.form__input-submit {
    border: 0;
    padding: 18px 43px;
    font: 400 12px/14px "Roboto";
    color: #F8F8F8;
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.form__input-email:focus-visible,
.form__input-submit:focus-visible {
    outline: 0;
}

.top-panel__text-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 250px;
    margin-top: 103px
}

.top-panel__main-header {
    color: #FFF;
    font: 400 50px/51px "Lora";
    letter-spacing: 2px;
    text-align: center;
}

.top-panel__sub-header {
    color: rgba(255, 255, 255, 0.63);
    font: 400 17px/20px "Oxygen";
    text-align: center;
    margin: 20px 0 0 0;
}

.top-panel__button {
    color: #FFF;
    font: 400 13px/20px "Oxygen";
    background-color: #DD783F;
    border: 0;
    border-radius: 3px;
    padding: 12px 31px;
    margin-top: 31px;
}

.page__categories-navigation {
    background-color: #FFF;
    padding: 9px 250px 10px;
    display: flex;
    gap: 21px;
    box-sizing: border-box;
    height: 65px;
}

.categories-navigation__item {
    color: #768088;
    font: 400 14px/20px "Lora";
    text-decoration: 0;
    width: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__main-content {
    width: 100%;
    background: #F7F7F7;
    padding: 0 250px 89px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content__header {
    color: #2E2E2E;
    font: 400 20px/27px "Oxygen";
    letter-spacing: 2px;
    text-align: center;
    padding: 0 13px 16px;
    border-bottom: 1px #DEDEDE solid;
    margin: 60px 0 16px;
}

.main-content__posts-group {
    display: flex;
    justify-content: center;
    padding: 7px 10px;
    margin-bottom: 60px;
}

.main-content__posts-group_big-posts {
    gap: 20px;
}

.main-content__posts-group_small-posts {
    gap: 24px;
    flex-wrap: wrap;
}

.posts-group__big-post-preview {
    width: 460px;
    height: 280px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 3px;
    position: relative;
    background: center/cover no-repeat;
}

.posts-group__big-post-preview_the-road-ahead {
    background: center/cover no-repeat url('../images/TheRoadAhead.png')
}

.posts-group__big-post-preview_from-top-down {
    background: center/cover no-repeat url('../images/FromTopDown.png');
}

.big-post-preview__header {
    color: #FFF;
    font: 400 27px/30px "Lora";
    margin-bottom: 6px;
}

.big-post-preview__comment {
    color: rgba(255, 255, 255, 0.7);
    font: 400 14px/25px "Oxygen";
    margin-bottom: 12px;
}

.big-post-preview__label {
    width: 69px;
    color: #FFF;
    font: 400 12px/13px "Oxygen";
    background-color: #DD783F;
    border-radius: 2px;
    padding: 6px 9px 7px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.big-post-preview__footer {
    display: flex;
    justify-content: space-between;
}

.big-post-preview__author-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.author-info__avatar {
    height: 26px;
    width: 26px ;
}

.big-post-preview__author-info .author-info__name {
    color: rgba(255, 255, 255, 0.7);
    font: 400 12px/35px "Oxygen";
}

.big-post-preview__date {
    color: rgba(255, 255, 255, 0.7);
    font: 400 12px/35px "Oxygen";
}

.posts-group__small-post-preview {
    width: 296px;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
}

.small-post__content {
    display: flex;
    padding: 14px 28px 33px 13px;
    flex-direction: column;
    flex-grow: 1;
}

.small-post-preview__image {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #E5E5E5;
}

.small-post-preview__header {
    color: #101315;
    font: 400 16px/21px "Lora";
    margin-bottom: 6px;
}

.small-post-preview__comment {
    color: #7A7A7A;
    font: 400 13px/19px "Oxygen";
}

.small-post-preview__footer {
    border-top: 1px #EFEFEF solid;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px;
}

.small-post-preview__author-info {
    color: #999;
    font: 400 11px/35px "Oxygen";
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-post-preview__author-info .author-info__name {
    color: #999;
    font: 400 11px/35px "Oxygen";
}

.small-post-preview__date {
    color: #999;
    font: 400 11px/35px "Oxygen";
}

